root = false

# C# files
[*.cs]

# Code-block preferences
csharp_style_namespace_declarations = file_scoped:none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# IDE0161: Convert to file-scoped namespace
dotnet_diagnostic.IDE0161.severity = silent

# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = silent

# IDE0005: Remove unnecessary import
dotnet_diagnostic.IDE0005.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# IDE0053: Use expression body for lambdas
dotnet_diagnostic.IDE0053.severity = silent

# IDE0022: Use expression body for methods
dotnet_diagnostic.IDE0022.severity = silent

# CA1861: Prefer 'static readonly' fields over constant array arguments
dotnet_diagnostic.CA1861.severity = silent

#S1192: String literals should not be duplicated
dotnet_diagnostic.S1192.severity = none
